/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 20, 2016, 5:04:48 PM
    Author     : dozyd
*/

/*--------------------------------------------------------------
## Color and Font
--------------------------------------------------------------*/
/*
    Logo Background: #548DAD;
    Logo Font Color: #DAD7D7;

    --MOBILE-- 

    Background: #e8fbfd;
    Front Decoration: #176BA7;
    Hero Text: #DE5E00;
    Full Hero Text: #18AEBC;
    Buttons:
        Background: #176BA7;
        Font Family: ;
        Font Color: #e8fbfd;
    
    --LAPTOP / DESKTOP--
    Background: #;
    Front Decoration: #;
    Hero Text: #;
    Full Hero Text: #;
    Buttons:
        Background: #;
        Font Family: ;
        Font Color: #;

*/

/*iPhone 4 Header */
@media screen and (width:320px){
    .reduced-header-nav {
        display:none;
    }
    .full-header {
        font-size:16px;
    }

    #front-decoration {
        order:1;
        align-self:flex-end;
    }
    
    #hero-text {
        order:2;  
        font-size:.75em;
        letter-spacing: -5px;
        word-spacing: -15px;
    }
    
    #headshot-image {
        order:3;
    }
    #full-hero-text {
        font-size:.85em;
        order:4;
    }
    .flex-container-nav {
         order:5;
    }

}
/*iPhone 5 Header */
@media screen and (min-height:568px){
    .full-header {
        font-size:18px;
    }
    
}
/*iPhone 4 & 5 Landscape Header */
@media screen and (min-height:320px) and (min-width:480px){
    .full-header {
       

        font-size:16px;
        flex-wrap:wrap;
        flex-direction:row;
        justify-content: space-around;

    }
    p#front-decoration {
        width:100%;
        text-align:center;
        align-self:center;
        order:1;

    }
    h1#hero-text {
        width:60%;
        font-size:2.5em;
        margin-left:1em;
        order:2;

    }

    img#headshot-image {

        margin-right:2em;
        align-self:flex-end;
        order:3;
    }

    p#full-hero-text {
        max-width:60vw;
        height:40%;
        align-self:flex-start;
        order:3;
        font-size:.9em;
    }
    
    .flex-container-nav {
        width:35%;
        order:5;
        flex-direction:column;
        margin-bottom:2em;
        margin-right:0em;
        align-items: center;
    }

}

/*iPhone 6 Header */
@media screen and (min-height:667px){
    .full-header{
         font-size:20px;
    }
    p#front-decoration {
        order:1;
    }
    h1#hero-text{
        order:2;
    }
    img#headshot-image {
        width: 10em;
        height: 10em;
        order:3;
    }
    p#full-hero-text{
        order:4;
    }
    .flex-container-nav {
        order:5;
    }
}
/*iPhone 6 Landscape Header */
@media screen and (height:375px){
    .full-header {
        font-size:20px;
    }
    p#full-hero-text {
        font-size: .8em;
    }
}
/*iPhone 6 Plus Header */
@media screen and (min-height:730px){
    .full-header {
        font-size:22px;
    }
    p#front-decoration {
        margin-bottom:.5em;
    }
    h1#hero-text {
        margin-top:0em;
    }

    img#headshot-image {
        width: 10em;
        height: 10em;
    }
    p#full-hero-text {
        margin-top:1em;
        text-shadow: .5px .5px #004466;
    }
 
}
/*iPhone 6 Plus Landscape Header */
@media screen and (height:414px){
    .full-header {
        font-size:22px;
    }
     p#full-hero-text {
        font-size: .8em;
    }
   
}

/*Samsung Galaxy SIII Landscape*/
@media screen and (height:360px){
    .full-header {
        font-size:20px;
    }
}

/*Nexus 6P Landscape */
@media screen and (min-height:412px) and (min-width:732px){
    .full-header {
        font-size:22px;
    }
}

/*********************************************/
/* Begin Tablet Header Styles */
/*********************************************/

/*Portrait*/
@media screen and (min-width:768px) and (min-height:1024px){
    .full-header {
      font-size:24px;
      align-items:center;
      flex-direction:column;
    }
    
    /* LOGO styles */
    .site-logo a {
	position: absolute;
	z-index: 20;
	top: 1.5em;
	left: 1.5em;
	display: block;
	width: 4em;
	height: 4em;
	
}
    .site-firstletter {
        font-family: 'Fira Sans', sans-serif;
        font-size: 3.25em;
        font-weight: 700;
        text-align: center;
        line-height: 1.3em;
    }

    /*main header styles */
    p#front-decoration {
        font-size:1.5em;
        
    }
    h1#hero-text {
        width:auto;
        font-size:4em;
        margin:.5em;
    }

    img#headshot-image {
        margin-right:0;
        align-self:center;
    }
    p#full-hero-text {
        max-width:90vw;
        height:auto;
        font-size:1.25em;
        align-self:center;
        margin:0;
    }
    .flex-container-nav {
        flex-direction:row;
        align-self:center;
        width:90vw;
    }
        a#button-one.nav-button,
        a#button-two.nav-button {
            width:11em;
        }  
}

/* Tablet Landscape Styles */

@media screen and (min-height:768px) and (min-width:1024px){
    .full-header {
        font-size:24px;
    }
    p#front-decoration {
        font-size:1.25em;
    }
    h1#hero-text {
        width:auto;
        font-size:4.5em;
    }

    p#full-hero-text {
        max-width:90vw;
        height:auto;
        font-size:1.5em;
        margin:1em .25em;
        padding:0;
    }
    .flex-container-nav {
        width:90vw;
        flex-direction:row;
        margin-top:.25em;
        justify-content: space-around;
    }
    a#button-one.nav-button,
    a#button-two.nav-button {
        font-size:1.5em;
        width:10em;

    }
}
/*Square Screens*/
@media screen and (min-width:1000px) and (min-height:660px) {
    .site-branding {
        background-image: url(img/desk-front-page.jpg);
        background-position:25% 40%;
        display:flex;
        justify-content: flex-end;
        margin:auto;
    }
    .full-header {
        background: rgb(54, 25, 25); /* Fall-back for browsers that don't
                                    support rgba */
        background: rgba(255, 255, 255, .6);
        height:90%;
        width:60%;
        border-radius:20px;
/*        margin-left:15em;*/
        margin-top:1em;
        font-size:22px;
        margin-right:2em;
        justify-content: space-between;
        display:flex;
        flex-direction:column;

    }
    p#front-decoration {
        font-size:1em;
        color:#004466;
       
        margin:1em .5em 0 0;
        
        
        align-self:flex-end;
        width:auto;
    }
    h1#hero-text {
        margin-bottom:.25em;
        width:auto;
        font-size:3em;
        align-self:center;
        font-weight:bold;
        text-shadow:none;
    }
    img#headshot-image {
        display:none;
    }
    p#full-hero-text {
        margin:0;
        padding:0;
        width:90%;
        font-size:1.25em;
        font-weight:normal;

        color:#004466;
        align-self:center;
    }
    .flex-container-nav {
        flex-direction:row;
        width:90%;
    }
    a#button-one.nav-button,
    a#button-two.nav-button {
        font-size:1.25em;
        background:#004466;
    }
}
/*Laptop Screens (Large) */

@media screen and (min-width:1200px) and (min-height:600px){
    .site-branding {
        background-image: url(img/desk-front-page.jpg);
        background-position:25% 40%;
        display:flex;
        justify-content: flex-end;
        margin:auto;
    }
    .full-header {
        background: rgb(54, 25, 25); /* Fall-back for browsers that don't
                                    support rgba */
        background: rgba(255, 255, 255, .6);
        height:90%;
        width:60%;
        border-radius:20px;
/*        margin-left:15em;*/
        margin-top:1em;
        font-size:22px;
        margin-right:2em;
        justify-content: space-between;
        display:flex;
        flex-direction:column;

    }
    p#front-decoration {
        font-size:1em;
        color:#004466;
       
        margin:1em .5em 0 0;
        
        
        align-self:flex-end;
        width:auto;
    }
    h1#hero-text {
        margin-bottom:.25em;
        width:auto;
        font-size:3em;
        align-self:center;
        font-weight:bold;
        text-shadow:none;
    }
    img#headshot-image {
        display:none;
    }
    p#full-hero-text {
        margin:0;
        padding:0;
        width:90%;
        font-size:1.25em;
        font-weight:normal;

        color:#004466;
        align-self:center;
    }
    .flex-container-nav {
        flex-direction:row;
        width:90%;
    }
    a#button-one.nav-button,
    a#button-two.nav-button {
        font-size:1.25em;
        background:#004466;
    }
}

/*Laptop Screens (Large) */
@media screen and (min-width:1280px) and (min-height:950px){

    .site-branding {
        background-image: url(img/desk-front-page.jpg);
        background-position:30% 50%;
        display:flex;
        justify-content: flex-end;
        margin:auto;
    }
    .full-header {
        background: rgb(54, 25, 25); /* Fall-back for browsers that don't
                                    support rgba */
        background: rgba(255, 255, 255, .6);
        height:90%;
        width:60%;
        border-radius:20px;
/*        margin-left:15em;*/
        margin-top:1em;
        font-size:30px;
        margin-right:2em;
        justify-content: space-between;
        display:flex;
        flex-direction:column;

    }
    p#front-decoration {
        font-size:1.25em;
        color:#004466;
       
        margin:1em .5em 0 0;
        
        align-self:flex-end;
        width:auto;
    }
    h1#hero-text {
        margin:0;
        width:auto;
        font-size:4em;
        align-self:center;
    }
    img#headshot-image {
        display:none;
    }
    p#full-hero-text {
        margin:0;
        padding:0;
        width:90%;
        font-size:1.25em;
        font-weight:normal;

        color:#004466;
        align-self:center;
    }
    .flex-container-nav {
        
    }
    .nav-button {
        font-size:1.25em;

        background-color:#004466;
                    color: #c3ebfe;
    }
}
